#
# AIQA configuration file
#
#

aiqa:
    apiUrl: 'https://app.aiqa.tech/api/'
    cliTimeout: 100.0
project:
    id: 50
    name: 'RWA (Cypress)'
    rootFolder: './../'
git:
    mainBranch: 'master'
    binaryPath: '/usr/bin/git'
user:
    systemFamily: 'unix'
    email: 'ci@aiqa.tech'
    apiToken: '0317f36d-f63f-4a51-a692-dce97b513a0b'
testTool:
    type: 'parallel'
    reportPath: 'cypress/__ci_parallel.log'
    regExp: '/^yarn cypress run -c baseUrl=http:\/\/localhost:3000 --spec (.*\.spec.ts)$/'
testCases:
    scenariosPath: 'cypress/__ci_scenarios_list.txt'
    include:
        -
            directory: 'cypress/tests/'
            fileMask: '*.ts'
    exclude:
srcFiles:
    include:
        -
            directory: 'src/'
            fileMask: '*.ts,*.tsx'
        -
            directory: 'backend/'
            fileMask: '*.ts,*.tsx'
    exclude:
        -
            directory: 'node_modules/'
configuration:
    exportFilename: 'someFile.yml'
    mlService: 'local'
pdepend:
    binaryPath: './backend-php/vendor/pdepend/pdepend/src/bin/pdepend'
encryption: false
map:
    namespace: 'AppBundle\'
    path: 'src/AppBundle'