#
# AIQA configuration file
#
#

aiqa:
    apiUrl: 'https://app.aiqa.tech/api/'
    cliTimeout: 100.0
project:
    id: 49
    name: 'RWA'
    rootFolder: './../../'
git:
    mainBranch: 'master'
    binaryPath: '/usr/bin/git'
user:
    systemFamily: 'unix'
    email: 'ci@aiqa.tech'
    apiToken: 'b14098c6-1de0-40fd-87fa-a1ea0f47bf3f'
testTool:
    type: 'parallel'
    reportPath: 'cypress/cypress/__ci_parallel.log'
    regExp: '/^yarn cypress run -c baseUrl=http:\/\/localhost:3000 --spec (.*\.spec.js)$/'
testCases:
    scenariosPath: 'cypress/cypress/__ci_scenarios_list.txt'
    include:
        -
            directory: 'cypress/cypress/integration/'
            fileMask: '*.js'
    exclude:
srcFiles:
    include:
        -
            directory: 'src/'
            fileMask: '*.ts,*.tsx'
    exclude:
        -
            directory: 'node_modules/'
configuration:
    exportFilename: 'someFile.yml'
    mlService: 'local'
pdepend:
    binaryPath: './backend-php/vendor/pdepend/pdepend/src/bin/pdepend'
encryption: false
map:
    namespace: 'AppBundle\'
    path: 'src/AppBundle'